* {
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 8vh 1fr 4vh;
  background-color: #e9d7c0;
}

nav, footer {
  background-color: #e9d7c0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vmin;
  font-size: 2vh;
  color: #909c98;
}

nav a {
  text-decoration: none;
  color: #909c98;
  background-color: #34513a;
  padding: 1vmin;
  border-radius: 1vmin;
  &:hover {
    color: gray;
    background-color: lightslategray;
    color: white;
  }
}

nav span {
  font-size: 1.5vmin;
  color: lightslategray;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vmin;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2vmin;
}

form * {
  font-size: 2vmin;
  padding: 1vmin;
  border-radius: 1vmin;
}

button:hover {
  background-color: lightslategray;
  color: white;
}

.footer {
  background-color: #34513a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vmin;
  font-size: 2vh;
  color: #909c98;
}

.catChatter {
  color: black;
  font-size: xx-large;
}

.homeHeader {
  color: black;
}

.welcomeMsg {
  color: black;
}

.home-container {
  text-align: center;
  padding: 20px;
}

.hero {
  background-color: #34513a;
  padding: 40px 20px;
  border-radius: 10px;
}

.hero h1 {
  color: #909c98;
  font-size: 3em;
  margin-bottom: 10px;
}

.hero p {
  color: #909c98;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #e9d7c0;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2em;
}

.cta-button:hover {
  background-color: #cabba6;
}

.features {
  margin-top: 40px;
}

.features h2 {
  color: black;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.feature-list {
  display: flex;
  justify-content: space-around;
}

.feature-item {
  width: 30%;
  padding: 10px;
  text-align: center;
}

.feature-item h3 {
  color: black;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.feature-item p {
  color: black;
}