    <%- include('../partials/header.ejs') %>

    <h1>How to Upload an Image </h1>
    <h1>(Add a Code Link from IMGUR)</h1>

    <ol>
        <li class="instructions">
            <strong>Create an IMGUR Account:</strong> 
            <p>If you don’t already have an account, go to <a href="https://imgur.com/register" target="_blank">IMGUR</a> and sign up.</p>
        </li>
        <li class="instructions">
            <strong>Upload Your Image:</strong>
            <p>Once logged in, click the "New Post" button at the top of the IMGUR homepage.</p>
            <p>Drag and drop your image or select it from your computer.</p>
            <p>After the image is uploaded, you can add a title or description if you like.</p>
        </li>
        <li class="instructions">
            <strong>Get the Image Link:</strong>
            <p>After the image is uploaded, right click on the image</p>
            <p>Click the "Copy Image Address"</p>
        </li>
        <li class="instructions">
            <strong>Add the Image:</strong>
            <p>Paste into the IMGUR URL part of the form.</p>
        </li>
    </ol>

    <p>If you encounter any issues, please refer to the <a href="https://help.imgur.com/hc/en-us" target="_blank">IMGUR Help Center</a>.</p>

    <%- include('../partials/footer.ejs') %>